@tailwind base;
@tailwind components;
@tailwind utilities;

/* :global(body.homepage-container-hd) {
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(./imgs/cars-portrait--jannis-lucas--unsplash.jpg);
    background-size: cover;
    background-position: center;
} */

   